/Ui_AddressEditorWidget.py
/Ui_AddressLinkingWidget.py
/Ui_AdminDialog.py
/Ui_ConfigureDatabase.py
/Ui_CreateUploadWidget.py
/Ui_JobEditorWidget.py
/Ui_JobManagerWidget.py
/Ui_JobSelectorDialog.py
/Ui_ManageSourceTypes.py
/Ui_ManageSuppliers.py
/Ui_NewJobDialog.py
/Ui_ReviewEditorWidget.py
/Ui_ReviewQueueWidget.py
/*.pyc
